body{
  font: 12px 'Helvetica';
  background-color: white;
}

#header{
position: absolute;
}

#received{
  padding-left: 15px;
position:absolute;
width: 1200px;
}

#gave{
position:absolute;
width: 2370px;
text-align: right;
}
