body{
  font: 16px 'Futura';
}

#viz-container2{
  background-color:#f2ebe2;
  color: #ab906d;
  padding-left: 100px;
  padding-right: 200px;
}

#signature{
  color: #ab906d;
  font: 20px 'Overpriced Ghetto';
  position:absolute;
  padding-top: 240px;
  width: 1000px;
  text-align: right;
}
