body{
  font: 12px 'Helvetica';
  background-color: white;
}
#header{
position: absolute;
}

#compLife{
  padding-left: 15px;
position:absolute;
width: 1200px;
}

#compOnline{
position:absolute;
width: 1170px;
text-align: right;
}
